<div >
<ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="setTab(active)" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Profile</a>
      <ng-template ngbNavContent>
      <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <img class="img-account-profile rounded-circle mb-2" [src]="getUserPhoto()" alt="">
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <button class="btn btn-primary" (click)="openPhotoModal()" type="button">Chose another photo</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header">Account Details<strong *ngIf="editForm.dirty" style="padding-left: 20px;font-size: x-large;color: red;">You have unsaved changes!</strong></div>
                    <div class="card-body">
                        <form #editForm="ngForm" id="editForm" (ngSubmit)="save()">
                            <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" >Username</label>
                                <input class="form-control"  type="text" placeholder="Enter your username" disabled [(ngModel)]="appUser.username" name="username">
                            </div>
                            <div class="col-md-6">
                              <label class="small mb-1" >Gender</label>
                              <input class="form-control"  type="text" placeholder="Enter your Gender" [disabled]="!isEdit" [(ngModel)]="appUser.gender" name="gender">
                          </div>
                          </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" >First name</label>
                                    <input class="form-control"  type="text" placeholder="Enter your first name" disabled [(ngModel)]="appUser.firstName" name="firstName">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" >Last name</label>
                                    <input class="form-control"  type="text" placeholder="Enter your last name" disabled [(ngModel)]="appUser.lastName" name="lastName">
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" >Country</label>
                                    <input class="form-control"  type="text" placeholder="Enter your country name" [disabled]="!isEdit" [(ngModel)]="appUser.country" name="country">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1">City</label>
                                    <input class="form-control"  type="text" placeholder="Enter your location" [disabled]="!isEdit" [(ngModel)]="appUser.city" name="city">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" >Email address</label>
                                <input class="form-control"  type="email" placeholder="Enter your email address" disabled [(ngModel)]="appUser.email" name="email">
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" >Phone number</label>
                                    <input class="form-control"  type="tel" placeholder="Enter your phone number" [(ngModel)]="appUser.phoneNumber" name="phoneNumber">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" >Birthday</label>
                                    <input class="form-control"  type="text" name="dateOfBirth" placeholder="Enter your birthday" value="06/10/1988">
                                </div>
                            </div>
                            <div style="display:flex; justify-content: space-between;">
                            <button class="btn btn-primary" type="button" (click)="editProfile()" >{{this.isEdit == false  ? 'Edit Profile' : 'Cancel'}}</button>
                            <button class="btn btn-primary" type="button" [disabled]="!isEdit" (click)="save()">Save</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>My ads</a>
      <ng-template ngbNavContent>
        <div *ngFor="let ad of userAds$ | async">
        <div class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0">
          <div class="row align-items-center">
            <div class="col-md-8 mb-3 mb-sm-0">
              <h5>
                <a [routerLink]="['/adverts', ad.id]" class="text-primary">{{ad.title}}</a>
              </h5>
              <p class="text-sm"><span class="op-6">Posted on </span> <a class="text-black" >{{ad.createdAt | date: 'medium'}}</a></p>
            </div>
            <div class="col-md-4 op-7">
              <div class="row text-center op-7">
                <div class="col px-1"> <i class="icon-1x" [ngClass]="ad.isActive === false ? 'fa-solid fa-check' : ad.isVerified === true ? 'fa-solid fa-door-open' : 'fa-solid fa-circle-exclamation' "></i> <span class="d-block text-sm">{{setTextForAdStatus(ad)}}</span> </div>
                <div class="col px-1"> <i class="fa-solid fa-phone icon-1x" placement="bottom" ngbTooltip="How many people viewed your phone number"></i> <span class="d-block text-sm">{{ad.phoneChecks}}</span> </div>
                <div class="col px-1"> <i class="fa-solid fa-eye icon-1x"></i> <span class="d-block text-sm">{{ad.views}} Views</span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink >Messages </a>
      <ng-template *ngIf="active === 3 " ngbNavContent  >
        <app-messages></app-messages>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
