<div class="modal-header">
  <h4 class="modal-title" style="text-align: center;">Create an account</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">
        <div class="mb-3">
          <label class="small mb-1" >Username</label>
          <app-text-input [formControl]='$any(registerForm.controls["username"])'
          [label]='"Username"'></app-text-input>
      </div>
        <div class="row gx-3 mb-3">
            <div class="col-md-6">
                <label class="small mb-1" >First name</label>
                <app-text-input [formControl]='$any(registerForm.controls["firstName"])'
                [label]='"First Name"'></app-text-input>
            </div>
            <div class="col-md-6">
                <label class="small mb-1" >Last name</label>
                <app-text-input [formControl]='$any(registerForm.controls["lastName"])'
                [label]='"Last Name"'></app-text-input>
            </div>
        </div>
        <!-- Form Group (email address)-->
        <div class="mb-3">
            <label class="small mb-1" >Email address</label>
            <app-text-input [formControl]='$any(registerForm.controls["email"])'
            [label]='"Email"'></app-text-input>
        </div>
        <div class="mb-3">
            <label class="small mb-1" >Password</label>
            <app-text-input  [formControl]='$any(registerForm.controls["password"])'
            [label]='"Password"' [type]='"password"'></app-text-input>
        </div>

        <div class="mb-3">
            <label class="small mb-1" >Confirm Password</label>
            <app-text-input [formControl]='$any(registerForm.controls["confirmPassword"])'
            [label]='"Password"' [type]='"password"'></app-text-input>
        </div>
        <!-- <div class="row gx-3 mb-3">
            <div class="col-md-6">
                <label class="small mb-1" >Birthday</label>
                <input class="form-control"  type="text" name="dateOfBirth" placeholder="Enter your birthday" value="06/10/1988">
            </div>
        </div> -->
        <!-- Save changes button-->
        <div class="row" *ngIf="validationErrors.length > 0">
          <ul class="text-danger">
              <li *ngFor="let error of validationErrors">
                  {{error}}
              </li>
          </ul>
      </div>
        <div style="display:flex; justify-content: space-between;">


    </div>
    </form>
</div>
<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>
</div>
<div class="modal-footer">

    <button class="btn btn-success mr-2" type="submit" [disabled]="!registerForm.valid" (click)="register()">Register</button>

  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
