<h4>Internal server error - refreshing the page will make the error disappear!</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error : {{error.message}}</h5>
  <p class="font-weight-bold"> Note: If you are seeing this then the server is probably burning right now :shrug:</p>
  <p>What to do next? </p>
  <ol>
    <li>Open the chrome dev tools</li>
    <li>Inspect the network tab</li>
    <li>check the failing request</li>
    <li>Examine the request URL - make sure it is correct</li>
    <li>Reproduce the error in Postman - if we see the same response, then the issue is not with the client</li>
  </ol>
  <p>Following the stack trace -> Tell your devs to investigate here</p>
  <div class="code mt-5" style="background-color: whitesmoke;">{{error.details}}</div>
</ng-container>
