/* You can add global styles to this file, and also import other style files */
ngb-typeahead-window {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  * {
    font-family: Lato;
  }
