<div class="modal-header">
  <h4 class="modal-title" >{{title}}</h4>
</div>
<div class="modal-body">
  <p><strong>{{message}} </strong></p>
  <p>All changes will be lost!
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="decline()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="confirm()">Ok</button>
</div>
