<div class="modal-header">
  <h4 class="modal-title">Login</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
<form  #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()"
autocomplete="off">
<input
    name="username"
    [(ngModel)]="model.username"
    class="form-control mr-sm-2"
    type="text"
    placeholder="Username">
<input
    name="password"
    [(ngModel)]="model.password"
    class="form-control mr-sm-2"
    type="password"
    placeholder="Password">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
