<div class="col-12 col-lg-7 col-xl-9">
  <div class="py-2 px-4 border-bottom d-none d-lg-block">
    <div class="d-flex align-items-center py-1">
      <div class="position-relative">
        <img [src]="showPhoto(recipientPictogramId)" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
      </div>
      <div class="flex-grow-1 pl-3">
        <strong>{{recipientUsername}}</strong>
        <div class="text-muted small"><em>Online</em></div>
      </div>

    </div>
  </div>

  <div class="position-relative">
    <div  class="chat-messages p-4">

      <div *ngFor="let message of (messageService.messageThread$ | async)" class="" [ngClass]="currentUsername == message.senderUsername ? 'chat-message-left pb-4' : 'chat-message-right pb-4'">
        <div>
          <img [src]="showPhoto(message.senderPictogramId)" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
          <div class="text-muted small text-nowrap mt-2">2:33 am</div>
        </div>
        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
          <div *ngIf="currentUsername === message.senderUsername" class="font-weight-bold mb-1">You</div>
          {{message.content}}
        </div>
      </div>
    </div>
  </div>

  <div class="flex-grow-0 py-3 px-4 border-top">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="messageContent" placeholder="Type your message">
      <button [disabled]="messageContent.length === 0" class="btn btn-primary" (click)="sendMessage()">Send</button>
    </div>
  </div>

</div>
