<main class="content">
  <div class="container p-0">

  <h1 class="h3 mb-3">Messages</h1>

  <div class="card">
    <div class="row g-0" style="display: flex; flex-wrap: nowrap;">
      <div class="col-12 col-lg-5 col-xl-3 border-right">

        <div class="px-4 d-none d-md-block">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1">
              <input type="text" class="form-control my-3" placeholder="Search...">
            </div>
          </div>
        </div>

        <a *ngFor="let sender of senders" (click)="openConversation(sender.username)" class="list-group-item list-group-item-action border-0">
          <div *ngIf="sender.unreadMessages > 0" class="badge bg-success float-right">{{sender.unreadMessages}}</div>
          <div class="d-flex align-items-start">
            <img [src]="showPhoto(sender.pictogramId)" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
            <div class="flex-grow-1 ml-3">
              {{sender.username}}
              <div class="small">

                <!-- <span [ngClass]="(presenceService.onlineUsers$ | async)?.includes(sender.username) ? 'fas fa-circle chat-online' : 'fas fa-circle chat-offline'"></span>
               -->
               <span [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(sender.username)">
                <i class="fa fa-user mr-2"></i>
            </span>
              </div>
            </div>
          </div>
        </a>

        <hr class="d-block d-lg-none mt-1 mb-0">
      </div>
      <app-chatbody *ngIf="usernameToPass" [recipientUsername]="usernameToPass" [recipientPictogramId]="recipientPictogram" [messages]="conversation">

      </app-chatbody>
    </div>
  </div>
</div>
</main>
