<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #adbabb;">
  <a class="navbar-brand d-lg-none" routerLink="/" routerLinkActive="active"><img src="/assets/logo_transparent.png" class="slogo-image"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler7"
      aria-controls="myNavbarToggler7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbarToggler7">
    <div class="navbuttonleft">
      <ng-container *ngIf="(accountService.currentUser$ | async)===null">
      <button class="btn btn-primary" (click)="openRegisterModal()">Register</button>
    </ng-container>
    </div>
      <ul class="navbar-nav mx-auto">

          <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/createad" routerLinkActive="active">Create Ad</a>
          </li>
          <a class="d-none d-lg-block" routerLink="/" routerLinkActive="active"><img src="/assets/logo_transparent.png" class="slogo-image"></a>
          <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/premium" routerLinkActive="active">Premium</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>
      </ul>
      <ng-container *ngIf="(accountService.currentUser$ | async)===null" >
      <div class="navbuttonright">
        <button class="btn btn-primary" (click)="openLoginModal()">Login</button>
      </div>
    </ng-container>


    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <!-- <img [src]="getUserPhoto(user.pictogramId)" class="img-logo" alt="{{user.username}}"> -->
      <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" routerLink="/userprofile/{{user.username}}" routerLinkActive="active">Profile</a>
          <a class="dropdown-item" routerLink="/chat" routerLinkActive="active">Chat</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" >Logout</a>
      </div>
    </div>

    </div>
</nav>

