<div class="container" *ngIf="!(spinnerService.isLoading |async)">
  <div class="test">
    <div>
      <label class="searchlabel"> Select Animal</label>
      <input
        placeholder="Search.."
        type="text"
        class="input-style"
        [(ngModel)]="searchModel.animal"
        [ngbTypeahead]="searchForAnimal"
        [editable]='false'
        ngbtypeaheadpopup
      />
    </div>
    <div>
      <label class="searchlabel"> Select Race</label>
      <input
        [disabled]="isAnimalEmpty()"
        placeholder="Search.."
        type="text"
        class="input-style"
        [(ngModel)]="searchModel.race"
        [ngbTypeahead]="searchForRace"

      />
    </div>
    <div>
      <label class="searchlabel"> Select City</label>
      <input
        placeholder="Search.."
        type="text"
        class="input-style"
        [(ngModel)]="searchModel.city"
        [ngbTypeahead]="searchForCity"
        ngbtypeaheadpopup
      />
    </div>
  </div>

  <div class="testbutton" style="padding-top:65px;">
  <button
    type="button"
    (click)="submit()"
    class="btn btn-primary purple"
  >
    Find some animals
  </button>
</div>

  <div class="row">
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
