@import "bootstrap";

.input-style {
  height:50px;
  box-sizing: border-box;
  background-image: url(/assets/icons/search.png);
  background-position: 6px 12px;
  background-repeat: no-repeat;
  background-size: 12%;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: outset purple;
  //border-bottom: 1px solid #ddd;
}

.input-style:focus {outline: 3px solid #ddd;}

.test {
  position: relative;
  top:0px;
  margin: auto;
  width: 80%;
  border: 3px solid green;
  padding: 10px;
  display: flex;
height: 110px;
justify-content: space-around;
}

.testbutton{
display: flex;
justify-content: center;
padding: 5rem;
}

.searchlabel{
display: flex;
justify-content: center;
}

/* ------- customize primary button color -------- */
$purplecolor:#adbabb;;

.btn-primary {
    @include button-variant($purplecolor, darken($purplecolor, 7.5%), darken($purplecolor, 60%), lighten($purplecolor,5%), lighten($purplecolor, 10%), darken($purplecolor,30%));
}

.btn-outline-primary {
    @include button-outline-variant($purplecolor, #222222, lighten($purplecolor,5%), $purplecolor);
}
