<div style="height: 50px"></div>
<div style="display: flex;flex-direction: row-reverse;">
<div style="padding-left: 20px;">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="d-flex flex-column align-items-center text-center">
        <img
          [src]="getUserPhoto()"
          alt="Admin"
          class="rounded-circle"
          width="150"
        />
        <div class="mt-3">
          <h4>{{user?.username}}</h4>
          <p class="text-secondary mb-1">Smecher</p>
          <p class="text-muted font-size-sm">Mafiot</p>
          <button class="btn btn-primary" style="margin-bottom: 5px;">Follow</button>
          <h4 *ngIf="showNumber">{{user?.phoneNumber}}</h4>
          <button *ngIf="!showNumber" class="btn btn-outline-primary" (click)="show()">Show Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="ps-lg-1-6 ps-xl-5">
          <div class="mb-3 wow fadeIn">
            <div class="text-start mb-1-6 wow fadeIn">
              <h2 class="h1 mb-0 text-primary">{{advert?.title}}</h2>
            </div>
            <div >
              <h6 class="description">Description:</h6>
            </div>
            <p style="word-break: break-all;  ">
             {{advert?.description}}
            </p>

          </div>
          <div class="mb-4 wow fadeIn">
            <div class="text-start mb-1-6 wow fadeIn">
              <h2 class="mb-0 text-primary">Details: </h2>
            </div>
            <div class="row mt-n4">
              <div class="col-sm-6 col-xl-4 mt-4">
                <div class="card text-center border-0 rounded-3">
                  <div class="card-body">
                    <i
                      class="icon-box medium rounded-3 mb-4" [ngClass]="advert?.animal == 'Dog' ? 'fa-solid fa-dog' : 'fa-solid fa-cat'"
                    ></i>
                    <h3 class="h5 mb-3">{{advert?.animal}}</h3>
                    <p class="mb-0">
                      Always a good company
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 mt-4">
                <div class="card text-center border-0 rounded-3">
                  <div class="card-body">
                    <i class="fa-brands fa-r icon-box medium rounded-3 mb-4" ></i>
                    <h3 class="h5 mb-3">{{advert?.animalRace}}</h3>
                    <p class="mb-0">
                      Loving and caring
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 mt-4">
                <div class="card text-center border-0 rounded-3">
                  <div class="card-body">
                    <i class="fa-solid fa-location-crosshairs  fa-solid fa-cat icon-box medium rounded-3 mb-4"></i>
                    <h3 class="h5 mb-3">{{advert?.city}}</h3>
                    <p class="mb-0">
                      Should be visited
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wow fadeIn">
            <div class="text-start mb-1-6 wow fadeIn">
              <h2 class="mb-0 text-primary">Photos:</h2>
            </div>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display:inline-block; margin-bottom:20px;"></ngx-gallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
