body{
  background:#eee;
}

.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
}

textarea {
  width: 600px;
  height: 150px;
  background-color: rgb(212, 212, 212);
  max-width: 100%;
}

textarea ::selection{
  background-color: rgb(212, 212, 212);
}

// .photo-grid{
//   display: inline-grid;
//   grid-template-columns: repeat(5,auto);
//   gap: 16px;
// }

// .photo-element{
//   border-radius: 4px;
//   background: rgb(242, 244, 245);
//   width: 159px;
//   height: 120px;
//   padding: 0px 20px;
//   font-size: 14px;
//   font-weight: 500;
//   text-align: center;
//   display: flex;
//   -webkit-box-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   align-items: center;
//   position: relative;
// }

// .photo-input{
//   position: absolute;
//   opacity: 0;
//   left: 0px;
//   width: 100%;
//   height: 100%;
//   top: 0px;
//   cursor: pointer;
// }

:host ::ng-deep img {
  opacity: 1 !important;
}

:host ::ng-deep img :hover  {
  opacity: .8 !important;
}


ngx-dropzone,
.custom-dropzone {
  margin: 20px;
}

.custom-dropzone {
	height: 250px;
	background: rgb(242, 244, 245);
	color: #fff;
	border: 5px dashed rgb(128, 128, 128);
	border-radius: 5px;
	font-size: 20px;
}

.custom-dropzone.ngx-dz-hovered {
  border: 5px solid rgb(128, 128, 128);
}


