<div class="container">
  <h1 class="h3 mb-5">Create an advert!</h1>
  <div class="row">
    <!-- Left -->
    <form [formGroup]="createAdForm"  (ngSubmit)="createAd()">
    <div class="">
      <div >
        <!-- Credit card -->
        <div class="accordion-item mb-3 shadow p-3 mb-5 bg-white rounded">
          <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
            <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseCC" aria-expanded="false">
              <label >
                Write something catchy!
              </label>
            </div>
          </h2>

            <div class="accordion-body ">
              <div class="mb-3">
                <label class="form-label">Title</label>
                <app-text-input [formControl]='$any(createAdForm.controls["title"])'
                [label]='"Title"'></app-text-input>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Animal</label>
                    <input type="text"
                    (selectItem)="setAnimalRace($event)"
                    [class.is-invalid]="createAdForm.controls['animal'].touched && createAdForm.controls['animal'].invalid"
                    class="form-control"
                    [ngbTypeahead]="searchForAnimal"
                    ngbtypeaheadpopup
                    [editable]="false"
                    formControlName="animal"
                    placeholder="Click to choose an animal">
                    <div *ngIf="createAdForm.controls['animal'].errors?.['required']" class="invalid-feedback">Please select an option!</div>
                  </div>


                </div>
                <div class="col-lg-6" [hidden]="isAnimalFieldEmpty()">
                  <div class="mb-3">
                    <label class="form-label">Race</label>
                    <input type="text"
                    [disabled]="isAnimalFieldEmpty()"
                    [class.is-invalid]="createAdForm.controls['animalRace'].touched && createAdForm.controls['animalRace'].invalid"
                    class="form-control"
                    [ngbTypeahead]="searchForRace"
                    ngbtypeaheadpopup
                    [editable]="false"
                    formControlName="animalRace"
                    placeholder="Start typing to serach for a race">
                    <div *ngIf="createAdForm.controls['animalRace'].errors?.['required']" class="invalid-feedback">Please select an option!</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Description -->
        <div class="mb-3 border shadow p-3 mb-5 bg-white rounded">
            <div class="accordion-body">
              <div class="px-2 col-lg-6 mb-3">
                <label class="form-label">Description</label>
                <textarea
                 class="form-control"
                 [class.is-invalid]="createAdForm.controls['description'].touched && createAdForm.controls['description'].invalid"
                 formControlName="description"
                 placeholder="Write what you would like to see when searching for an ad"></textarea>
              <div *ngIf="createAdForm.controls['description'].errors?.['required']" class="invalid-feedback">Please enter a description</div>
              <div *ngIf="createAdForm.controls['description'].errors?.['minlength']" class="invalid-feedback">Please enter atleast 30 characters</div>
              <div *ngIf="createAdForm.controls['description'].errors?.['maxlength']" class="invalid-feedback">Please enter atmost 500 characters</div>
            </div>

            </div>
        </div>

        <!-- Contact Info -->
        <div class="mb-3 border shadow p-3 mb-5 bg-white rounded">
          <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
            <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePP" aria-expanded="false">
              <label class="form-check-label pt-1" for="payment2">
                Contact Info
              </label>
            </div>
          </h2>
          <div class="accordion-body ">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">City</label>
                  <app-text-input [formControl]='$any(createAdForm.controls["city"])'
                  [label]='"City"'></app-text-input>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Phone Number</label>
                  <app-text-input [formControl]='$any(createAdForm.controls["phoneNumber"])'
                  [label]='"Phone Number"'></app-text-input>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Contact Details</label>
                  <app-text-input [formControl]='$any(createAdForm.controls["contact"])'
                [label]='"Contact Details"'></app-text-input>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <app-text-input [formControl]='$any(createAdForm.controls["email"])'
                  [label]='"Email"'></app-text-input>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Photos -->
        <div class="mb-3 border shadow p-3 mb-5 bg-white rounded">
          <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
            <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePP" aria-expanded="false">
              <label class="form-check-label pt-1" for="payment2">
                Photos
              </label>
            </div>
          </h2>
          <div class="accordion-body">


            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
              <ngx-dropzone-label>
                <div>
                  <h2 style="color: black;">Add your photos here!</h2>
                </div>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label></ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </div>

          </div>
        </div>

      </div>
    </div>
    <button class="btn btn-primary" type="button" [disabled]="!createAdForm.valid" (click)="createAd()">Create Ad</button>
  </form>

    <!-- Right -->
    <!-- <div class="col-lg-3">
      <div class="card position-sticky top-0">
        <div class="p-3 bg-light bg-opacity-10">
          <h6 class="card-title mb-3">Order Summary</h6>
          <div class="d-flex justify-content-between mb-1 small">
            <span>Subtotal</span> <span>$214.50</span>
          </div>
          <div class="d-flex justify-content-between mb-1 small">
            <span>Shipping</span> <span>$20.00</span>
          </div>
          <div class="d-flex justify-content-between mb-1 small">
            <span>Coupon (Code: NEWYEAR)</span> <span class="text-danger">-$10.00</span>
          </div>
          <hr>
          <div class="d-flex justify-content-between mb-4 small">
            <span>TOTAL</span> <strong class="text-dark">$224.50</strong>
          </div>
          <div class="form-check mb-1 small">
            <input class="form-check-input" type="checkbox" value="" id="tnc">
            <label class="form-check-label" for="tnc">
              I agree to the <a href="#">terms and conditions</a>
            </label>
          </div>
          <div class="form-check mb-3 small">
            <input class="form-check-input" type="checkbox" value="" id="subscribe">
            <label class="form-check-label" for="subscribe">
              Get emails about product updates and events. If you change your mind, you can unsubscribe at any time. <a href="#">Privacy Policy</a>
            </label>
          </div>
          <button class="btn btn-primary w-100 mt-2">Place order</button>
        </div>
      </div>
    </div> -->
  </div>
</div>
