<div class="modal-header">
    <h4 class="modal-title">Choose a photo!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
  </div>
  <div class="modal-body"  style="display: flex;align-items: center;">
        <div *ngFor="let item of icons">
            <span>
              <!--[ngStyle]="{'border':item === selectedPhoto ? 'double' : 'none'}" --> 
            <img [src]="showPhoto(item)" class="img-logo"   [ngClass]="item===selectedPhoto ?  'photo-border' : ''" (click)="addPhotoToUser(item)">
        </span>
        </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!isPhotoClicked"  (click)="savePhoto()">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
  </div>
  