<div class="mb-3">
  <input
      (change)="updateField(type)"
      [class.is-invalid]="ngControl.touched && ngControl.invalid"
      type={{type}}
      class="form-control"
      [formControl]="$any(ngControl).control"
      placeholder={{label}}>
  <div *ngIf="isRequired()" class="invalid-feedback">Please enter your {{label}}</div>
  <div *ngIf="isMinLength()" class="invalid-feedback">
      {{label}} must be at least {{ngControl.control?.errors!['minlength']['requiredLength']}}
  </div>
  <div *ngIf="isMaxLength()" class="invalid-feedback">
      {{label}} must be at most {{ngControl.control?.errors?.['maxlength']['requiredLength']}}
  </div>
  <div *ngIf="isPasswordInvalid()" class="invalid-feedback">
      Passwords do not match!
  </div>
  <div *ngIf="isEmail()" class="invalid-feedback">
    Please enter a valid email!
</div>
</div>
