<div class="container">
  <div class="text-center mb-5">
    <h3>Adverts</h3>
    <p class="lead">Ultimele anunturi postate</p>
  </div>

  <div>
    <button type="button" class="btn btn-primary" (click)="sortAscByDate()">Sort by date(newer)</button>
    <button type="button" class="btn btn-primary" (click)="sortDescByDate()">Sort by date (older)</button>
  </div>

  <div
    class="card mb-3 shadow p-3 mb-5 bg-white rounded"
    *ngFor="let ad of adverts"
  >
    <div class="card-body">
      <div class="d-flex flex-column flex-lg-row">
        <div class="event-img">
          <img src="{{ ad.photos[0].url }}" alt="" />
        </div>
        <div class="row flex-fill">
          <div class="col-sm-4">
            <h4 class="h5">{{ ad.title }}</h4>
            <div
              style="
                display: flex;
                flex-direction: column;
                align-items: flex-start;
              "
            >
              <span class="badge bg-secondary">{{
                setCreatedAt(ad.createdAt)
              }}</span>
              <span class="badge bg-success">{{ ad.city }}</span>
              <span class="badge bg-info">{{ ad.animal }}</span>
            </div>
          </div>
          <div class="col-sm-5 py-2"></div>
          <div class="col-sm-3 text-lg-end">
            <a
              [routerLink]="['/adverts', ad.id]"
              class="btn btn-primary stretched-link"
              >Vezi intregul anunt</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading">
    <div *ngIf="pagination">
    <div class="d-flex justify-content-center">
      <ngb-pagination
        [boundaryLinks]="true"
        [collectionSize]="pagination.totalItems"
        [pageSize]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChange)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
        </ngb-pagination
      >
    </div>
  </div>
  </div>
</div>
